<div class="trailerDiv">
  <a class="link" href="{{currentLink}}">Трейлер</a>
  <p class="ppp">Описание:</p>
  <p class="description">{{description}}</p>
  <a class="link" href="{{kinopoiskLink}}">Больше информации о фильме</a>
  <a class="homelink" href="/">На главную</a>
</div>
