<div class="speech-recognition-section">
  <p>
    Нажмите на иконку микрофона, и назовите фильм который хотите найти
  </p>
  <div class="audio-record-animation__wrapper">
    <div style="visibility: hidden;" class="audio-record-animation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="microphone-wrapper">
    <img class="microphone__image" src="microphone.png" width="50" height="50" alt="">
  </div>
  <div class="errorr"></div>
</div>

<div class="allFilmsDiv">

</div>
